body {
  margin: 0;

  background-size: cover;
  font-family: monospace;
}

.nav {
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.navbar-item {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  font-size: 20px;
}
.image {
  display: flex;
}
.lol {
  margin-top: 100px;
}
.bruh {
  display: flex;
}
.canthelp {
  height: 500px;
  margin-top: 200px;
  width: 1000px;
}
